@import '../App.css';

div.loading-container {
    @apply bg-c-white absolute top-0 left-0 h-full w-full z-(--loading-z);
    @apply flex items-center justify-center;

    div.loading {
        @apply w-4 h-4 text-c2 text-xs relative rounded-full animate-[mulShdSpin_1s_infinite_linear];
    }
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow:
            0 -3em 0 0.2em,
            2em -2em 0 0,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 0;
    }
    12.5% {
        box-shadow:
            0 -3em 0 0,
            2em -2em 0 0.2em,
            3em 0 0 0,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    25% {
        box-shadow:
            0 -3em 0 -0.5em,
            2em -2em 0 0,
            3em 0 0 0.2em,
            2em 2em 0 0,
            0 3em 0 -1em,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 0,
            2em 2em 0 0.2em,
            0 3em 0 0,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    50% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 0,
            0 3em 0 0.2em,
            -2em 2em 0 0,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 0,
            -2em 2em 0 0.2em,
            -3em 0 0 0,
            -2em -2em 0 -1em;
    }
    75% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 0,
            -3em 0 0 0.2em,
            -2em -2em 0 0;
    }
    87.5% {
        box-shadow:
            0 -3em 0 0,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 0,
            -3em 0 0 0,
            -2em -2em 0 0.2em;
    }
}
